[Desktop Entry]
Type=Application
Name=cmus
Icon=/usr/share/icons/Qogir/scalable/apps/gnome-music.svg
Exec=cmus %F
Terminal=true
Categories=AudioVideo;Player;
