[Desktop Entry]
Name=scrcpy-wechat
Exec=sh -c "scrcpy -b 6M --window-title 'MEIZU 16s' --window-borderless -Sw --push-target /sdcard/scrcpy"
Icon=wechat
Type=Application
