[Desktop Entry]
Name=scrcpy
Exec=sh -c "scrcpy -b 6M --window-title 'MEIZU 16s' --window-borderless -w --push-target /sdcard/scrcpy"
Icon=phone
Type=Application
